@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.card {
    font-family: 'Aboreto', cursive;
    font-size: 24px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --head: #333;
    --bg: #ededed
    --books: #ededed;
    --seco: #333;
}


.main-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    height: 100vh;
    width: 100vw;
}

.head {
    grid-column: 1 / 11;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--head);
}


.content {
    grid-column: 1 / 11;
    grid-row: 2 / 11;
    padding: 40px 20px 40px 60px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px;
    overflow-y: auto;
    background-color: var(--bg);
}

.card {
    width: 300px;
    height: 340px;
    
    border-radius: 10px;
    border-left: 20px solid var(--seco);

    background-color: var(--books);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    padding-left: 20px;
    /*
    padding: 40px; try again
    */
    font-family: 'Aboreto', cursive;
    font-size: 22px;

    box-shadow: 10px 5px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 20px 10px 16px 0 rgba(0, 0, 0, 0.2);
    border-left: 10px solid var(--seco);
    /*border-right: 10px solid #34a2a4;
    border-left: 10px solid #34a2a4 ;
    */
}

.cardRead {
    width: 300px;
    height: 340px;
    
    border-radius: 10px;
    border-left: 20px solid #db5461;

    background-color: var(--books);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    padding-left: 20px;
    font-family: 'Aboreto', cursive;
    font-size: 22px;

    box-shadow: 10px 5px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.cardRead:hover {
    box-shadow: 20px 10px 16px 0 rgba(0, 0, 0, 0.2);
    border-left: 10px solid #db5461
}

.rightDelete {
    position: relative;
    left: 250px;
    top: 20px;
}

.leftChange {
    position: relative;
    top: 81px;
}

.cardRead .leftChange.material-icons {
    color: #db5461
}


/*.foot {
    grid-column: 1 / 11;
    grid-row: 10 / 11;

    display: flex;
    align-items: center;
    justify-content: center;

    position: static;
    top: 100%;

    background-color: #CFB077;
}*/


.modal {
    display: none;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.modal-content {
    background-color: var(--seco);
    padding: 20px;
    width: 260px;
    height: 300px;
    border-radius: 10px;
    z-index: 2;

    display: flex;
    flex-direction: column;


    position: relative;
    margin: 0 auto;
    top: 25%;

    box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.modal-content:hover {
    box-shadow: 20px 20px 32px 0 rgba(0, 0, 0, 0.2);
}

.buttons .material-icons {
    font-size: 40px;

}

.material-icons {
    cursor: pointer;
}

#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #ededed;

}

#myForm input {
    display: flex;
}

input {
    border: none;
    border-radius: 4px;
    padding: 5px;
}

#plusBtn {
    color: #ededed;
    font-size: 90px;
    cursor: pointer;
}

#plusBtn:hover {
    color: #db5461;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    gap: 40px;

    cursor: pointer;
}

.close {
    color: #ededee;   
}

#addBtn {
    color: #ededed;
}

a, a:visited {
    color: black;
}

a:hover {
    color: greenyellow;
}

/* .cardDeleteButton {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ededed;
    
    font-weight: bold;

    border: 1px solid var(--seco);
    border-radius: 100px;
    cursor: pointer;
    background-color: var(--seco);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.cardDeleteButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.content::-webkit-scrollbar {
    background-color: var(--bg);
    width: 10px;
}
/*.content::-webkit-scrollbar-track:hover {
    background-color: #d0b17a;
}
*/

.content::-webkit-scrollbar-thumb {
    background-color: var(--seco);
    border-radius: 20px;
}

/* 
#db5461
#34a2a4

#F5FDC6
#F5C396
#D0B17A
#A89F68


    --head: #fbd794;
    --bg: #F5FDC6;
    --books: #F5C396;
    --seco: #34a2a4;
*/